.ProjectTile {
  height: 22rem;
  width: 38rem;
  background: black;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  clip-path: inset(0 round 1.5rem);
  overflow: hidden;
  position: relative;
  contain: layout style paint;

  @media (min-width: 768px) {
    height: 26rem;
  }

  img {
    object-fit: cover;
  }
}

.ProjectImgContainer {
  position: absolute;
  width: 14rem;
  height: 18rem;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%) rotate(-22.5deg);
  transform-origin: center center;
  z-index: 0;
  overflow: hidden;
  clip-path: inset(0 round 0.75rem);
  pointer-events: none;

  @media (min-width: 768px) {
    width: 20rem;
    height: 25rem;
  }
}

.ProjectImg {
  @apply rounded-xl shadow-xl;

  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.techIcons {
  transform: rotate(-22.5deg) translateZ(2rem);
}